doctype html
html
 head
  meta(charset='utf-8')
  link(rel='stylesheet' href='/style.css')
body
    h1
     a(href='/topic') Server Side JavaScript
    div(id='list')
      ul
        each topic in topics
          li
            a(href='/topic/'+topic)= topic
     form(action='/topic' method='post')
      p 글쓰기
      p
       input(type='text' name='title' placeholder='title')
      p
       textarea(name='description')
      p
       input(type='submit' id='sub')
    script(src='/script.js')
