doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/style.css')
    script(src='/jquery.js')
  body
    h1
     a(href='/topic') Server Side JavaScript
    div(id='list')
      ul
        each topic in topics
          li
            a(href='/topic/'+topic.id)= topic.title
    artcle(id='art')
      form(action='/topic/'+topic.id+'/edit' method='post')
        p
         input(type='text' name='title' placeholder='title' value=topic.title)
        p
        p
         input(type='text' name='author' placeholder='author' value=topic.author)
        p
         textarea(name='description')=topic.description
        p
         input(type='submit' id='sub')

    ul
     li
      a(href='/topic/add') 글쓰기
    script(src='/script.js')
